.categoria {
    padding: 32px;
    background-blend-mode: multiply;
    margin: 32px;
    border-radius: 16px;
    position: relative;
}
.categoria h3 {
    font-size: 32px;
    display: inline-block;
    border-bottom: 4px solid;
    padding: 0 0 6px;
    margin-left: 40vw;
}

.categoria .filmes {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}

.input-cor {
    position: absolute;
    top: 20px;
    right: 50px;
}
